<h1>Welcome user <span style="color: red;">{{username}}</span>!</h1>
<h3>Your 'sub' is: <span style="color: blue;">{{sub}}</span></h3>
<h4>*Your 'sub' from auth0 is also your user id</h4>
<h3>And your JWT is:</h3>
<p style="color: green; overflow-wrap: break-word;">{{jwt}}</p>
<a href='/logout'>Logout</a>