<h1>Welcome user <span style="color: red;">{{username}}</span>!</h1>
<h3>Your 'sub' is: <span style="color: blue;">{{sub}}</span></h3>
<h4>And your JWT is:</h4>
<p style="color: green; overflow-wrap: break-word;">{{jwt}}</p>
<a href='/logout'>Logout</a>